{% extends 'base.html' %}
{% block title %}Help Page{% endblock %}
{% block content %}
<div class="helpindex">
    <p>Instructions on how to use the ecommerce prototype:</p>
    <p>1. Ensure you are in the homepage</p>
    <p>2. Enter an item name in the search entry field</p>
    <p>3. Click the search button to run the query</p>
    <br>
    <br>
    <p>Instructions on how to use the filter setting:</p>
    <p>1. Ensure you are in the homepage</p>
    <p>2. Click the filter drop down menu</p>
    <p>3. Set the desired price limit for total number of items displayed</p>
    <p>4. Click the search button to run the query</p>
</div>
{% endblock %}
